

<div class="head">
<h3 class="head2">Let's Introduce With Our Specialist..</h3>

<div class="img" >
    <img src="assets/d.png" alt="">
</div>
<div class="flex-box">
    <img src="assets/A.png" class="picture">
    <h4>Dr. Arijeet</h4>
    <p class="para">Cardiologist</p>
    <p class="para">10 Years of Experience</p>
     
   </div>
   
<div class="flex-box2">
    <img src="assets/B.png" class="picture">
    <h4>Dr. Anu</h4>
    <p class="para">Gynecologist</p>
    <p class="para">8 Years of Experience</p>
     
   </div>
   <div class="flex-box3">
    <img src="assets/dC.jpg" class="picture">
    <h4>Dr. Sumana</h4>
    <p class="para">Neurologist</p>
    <p class="para">12 Years of Experience</p>
     
   </div>
</div>

<div>
    <h3>There are five types of primary care doctors too..</h3>
    <div class="i1"><fa-icon [icon]="faPills"></fa-icon></div>
    <h5 class="para2"> 2 Medicine Doctors.</h5>
</div>
<div>
    <div class="i2"><fa-icon [icon]="faSyringe"></fa-icon></div>
    <h5 class="para2"> 2 Pediatricians.</h5>
</div>
<div>
    <div class="i3"><fa-icon [icon]="faStethoscope"></fa-icon></div>
    <h5 class="para2"> 4 General Physicians</h5>
</div>