.box{
    width: 600px;
    height: 580px;
    background: rgba(70, 35, 55, 0.632);
    color: #fff;
    top: 120px;
    left: 50%;
    position: absolute;
    box-sizing: border-box;
    justify-content: center;
    text-align: center;
    margin-left: 10px;
}
.img{
    width: 600px;
    height: 500px;
    top: 160px;
    right: 55%;
    position: absolute;
    box-sizing: border-box;
    justify-content: center;
    text-align: center;
    margin-left: 10px;
}
.box input[type="submit"]{
    cursor: pointer;
    color:black;
    width: 60%;
    border-radius: 20px;
}
.box input[type="submit"]:hover{
    background: black;
    color: wheat;
}