<form class="box">
        <p class="line">Are You Admin? then 
        <a routerLink="/sign-in" routerLinkActive="" class="line1">Sign-in</a></p>
        <div class="container">

            <form class="form">
                <input type="text" placeholder="search anything" name="q">
                <button type="submit"><a href="#"><fa-icon [icon]="faMagnifyingGlass"></fa-icon></a> &nbsp;</button>
            </form>
        </div>
       <div class="dtls">
        <li class="p"><fa-icon [icon]="faPhone"></fa-icon>9876543210 </li><br>
        <li class="q"><fa-icon [icon]="faLocationDot"></fa-icon> Victoria Memorial Hall Maidan, Kolkata, West Bengal 700071</li>
       </div>
</form>
<div>
    <img src="assets/home.jpg" class="image">
</div>
<div>
    <h1>Bringing The Future Of Healthcare</h1>
    <p class="para">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
         incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
         quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo 
         consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat 
          non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <a href="https://www.lipsum.com/" class="learn">Learn more</a>
          <div class="D"><fa-icon [icon]="faUserDoctor" ></fa-icon>&nbsp; Qualified Doctors</div>
          <div class="E"><fa-icon [icon]="faTruckMedical" ></fa-icon>&nbsp; Medical Emergency</div>
          <div class="F"><fa-icon [icon]="faHospital" ></fa-icon>&nbsp; Easy Appointment</div>
        
</div>
        
